.post-card-container{

    position: relative;
    margin-top: 80px;
    width: 65%;
    left: 5vw;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .title-container {
    position: relative;
  }

  /* Estilo personalizado para o botão flutuante */
  .fixed-action-btn {
    position: relative;
    right: 0px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

.new-post-area{
    margin-bottom: 10px;
    
    .btn{
        background: #333;
        color: #FFF;
    }
}